<?xml version="1.0"?>
<config>
    <modules>
        <ND_EasyConfig>
            <version>0.1.1</version>
        </ND_EasyConfig>
    </modules>
    <global>  
        <blocks>
            <easyconfig>
                <class>ND_EasyConfig_Block</class>
            </easyconfig>
            <adminhtml>
                <rewrite>
                    <page_menu>ND_EasyConfig_Block_Adminhtml_Page_Menu</page_menu>
                </rewrite>
            </adminhtml>
        </blocks>  
    </global>
</config>
